<p></p>
<div class='row'>

  <!-- Fixed filters on the top if small screen-->
  <div class='col s12 show-on-small hide-on-med-and-down hide-on-large-only'>
    <div class='card-panel'>
      <%= render(partial: 'filter_form_bins') %>
    </div>
  </div>

  <div class='col s12 m9 l10'>
    <!-- Nav buttons -->
    <div class = "row valign-wrapper">
      <h4 class="col s8 valign">Bins Listing</h4>
      <%= link_to "Add New Bin", new_bin_path, class: "waves-effect waves-light btn col s4 valign green white-text" %>
    </div>

    <!-- Main Content -->
    <%= render( partial: 'bins/list', locals: { bins: @bins} )%>
  </div> 

  <!-- Fixed filters on right side-->
  <div class='col hide-on-small-only m3 l2'>
    <br><p></p><br><br>
    <div class='toc-wrapper pinned card-panel'>
      <div class='buysellads hide-on-small-only'>
        <h5>Filters: </h5>
        <%= render( partial: 'filter_form_bins' )%>
      </div>
    </div>
  </div>

</div>