<h1>New Bin</h1>

<%= render 'form' %>

<div class="row">

<%= link_to "Back to Bin Listings", bins_path, class: "waves-effect waves-light btn col s12 valign purple lighten-5 light-blue-text text-darken-4" %>
</div>
