<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<%= link_to 'Edit', edit_program_path(@program), class: "waves-effect waves-light btn pink white-text" %>
<%= link_to 'Back', programs_path, class: "waves-effect waves-light btn green white-text" %>
