<div class="container col s12 center" id="footer">
	<%= link_to 'Home', home_path, class: "white-text" %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to 'About Us', about_path, class: "white-text"  %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to 'Documentation', documentation_path, class: "white-text"  %>
	<div class="copyright white-text">
		<br />Webmaster: <%= mail_to "gauryn@andrew.cmu.edu", "CMU 373", :encode => "javascript", :class=>"orange-text text-lighten-3"%>
		&nbsp;&nbsp;Copyright 2016
	</div>
</div>