
<p>
  <strong>Username: </strong>
  <%= @user.username %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: "waves-effect waves-light btn col s3 valign pink white-text" %>
<%= link_to 'Logout', edit_user_path(@user), class: "waves-effect waves-light btn col s3 offset-s1 valign red white-text" %>
