<!-- Bin Count by Agency & Program -->
<div class="col-lg-6">
  <div class="panel panel-success">
    <div class="panel-heading">
      Agency Summary By Category
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover scrolltable">
        <% if @bins_by_agency.empty? %>
          <i>No bins created for agencies. Get started <%= link_to 'here', items_path %>!</i>
        <% else %>
          <thead>
            <tr>
              <th>Agency</th>
              <th>Program</th>
              <th># of Bins</th>
              <th>Value of Bins</th>
            </tr>
          </thead>
          <tbody class="scrollbody">
			   <!-- b[0]: Agency_ID, b[1]: Program_ID, c: Bin Count -->
			      <% @bins_by_agency.each do |b, c| %>
			        <tr class="scroll">
			  	      <td><%= Agency.find(b[0]).name %></td>
			  	      <td><%= Program.find(b[1]).name %></td>
			  	      <td><%= c %></td>
                <td></td>
			        </tr>
			      <% end %>
		      </tbody>
		      <% end %>
		    </table>
	    </div>
	  </div>
  </div>
</div>
