<!-- Inventory Count by Category -->
<td class='col s6'>
	<h6 class='teal-text'><b>Inventory Count by Category</b></h6>
	<table>
		<thead>
			<tr>
				<td>Category</td>
				<td>Total Quantity Remaining</td>
				<td>Total Donated Quantity</td>
				<td>Total Bought Quantity</td>
			</tr>
		</thead>
		<tbody>
			<% @items_by_category.each do |i| %>
			  <tr>
			  	<td><%= i.category %></td>
			  	<td><%= i.total_quantity %></td>
			  	<td><%= i.total_donated_quantity%></td>
			  	<td><%= i.total_quantity - i.total_donated_quantity%></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</td>