<div class='row'>
	<div class='col s12'>

		<h4>Beverly's Birthdays Inventory Management System</h4>
		<p> 
			Beverly's Birthdays: <br>
			A nonprofit organization, based in Pittsburgh that provides birthday cheer for children experiencing homelessness and families in-need.
		</p>
		<p>
			Mission & Values: <br>
			We believe in spreading birthday cheer 365 days a year and that every child, regardless of personal or financial circumstances deserves a special birthday.
			In order to effectively spread birthday cheer, Beverly’s Birthdays operates under the following values:
			<ul>
				<li>Charisma: "It is a sparkle; an invisible energy, with visible effects."</li>
				<li>Joy: "There are those who give with joy, and that joy is their reward."</li>
				<li>Compassion: "If you want others to be happy, practice compassion. If you want to be happy, practice compassion."</li>
				<li>Purpose: "A life without cause is a life without effect."</li>
				<li>Cheer: "The best way to spread cheer is to smile from ear to ear."</li>
			</ul>
			
		</p>
		<p>
			This application is developed by Gaury Nagaraju, Jeanine Huang and Ibrahim Soltan with the guidance of Prof. Raja Sooriamurthi as part of 67-373, Carnegie Mellon University Information System's Junior Spring Client Project.
		</p>

	</div>
</div>