<p></p>
<%= form_tag() do%>

<div class='row'>
	<%= label_tag("Barcode: ") %> <br>
	<%= text_field_tag :barcode, '', autofocus: true, class: 'col s4' %>
</div>
<div class='actions row'>
	<%= button_tag "Submit", class: "waves-effect waves-light btn pink white-text col s4" %>
</div>

<% end %>
