<!-- <div class='row'> -->

  <!-- Main Content -->
   <div class='col s12 m9 l10'>
    <%= render( partial: 'list', locals: { items: @items} )%>
  </div> 

  <!-- Fixed filters on right side-->
  <div class='col hide-on-small-only m3 l2 sticky'>
    <div class='toc-wrapper pinned'>
      <div class='buysellads hide-on-small-only'>
        <br><p></p><br>
        <%= render( partial: 'filter_form' )%>
      </div>
    </div>
  </div>

</div>

<%# link_to 'Reset', reset_filterrific_url %>
<!-- 
<p id="notice"><%= notice %></p>
<div class="filter-box z-depth-2 green white-text">
  <%# render( partial: 'rough_filter_form' )%>
</div>
<%# link_to 'Reset', reset_filterrific_url %>
<%# render( partial: 'rough_index', locals: { items: @items} )%>  -->