<h1>Editing Category</h1>

<%= render 'form' %>

<div class="row">
<%= link_to "Show Category", @category, class: "waves-effect waves-light btn col s4 valign purple lighten-5 light-blue-text text-darken-4" %>
<%= link_to "Back to Category Listings", categories_path, class: "waves-effect waves-light btn col s4 offset-s1 valign green white-text" %>
</div>
