<div class='row'></div>
<!-- Title & Nav buttons -->
<div class='row'>
	<h4 class='col s8'>Listing Categories</h4>
	<%= link_to 'Add New Category', new_category_path, class: "waves-effect waves-light btn col s4 valign pink white-text" %>
</div>

<!-- Category listings -->
<div class='row'>
	<ul class='collection'>
	  <% @categories.each do |category| %>
	    <li class='collection-item avatar'>
	      <i class='material-icons circle green'><%= category.icon %></i>
	      <%= link_to category.name, category %>
	    </li>
	  <% end %>
	</ul>
</div>
