<h1>New Category</h1>

<%= render 'form' %>


<div class='row'>
	<%= link_to "Back to Category Listings", categories_path, class: "waves-effect waves-light btn col s4 valign green white-text" %>
</div>
