<p>
  <strong>Name:</strong>
  <%= @category.name %><br>
  <strong>Icon:</strong>
  <i class='material-icons'><%= @category.icon %></i><br>
</p>

<%= link_to 'Edit', edit_category_path(@category), class: "waves-effect waves-light btn pink white-text" %>
<%= link_to 'Back', categories_path, class: "waves-effect waves-light btn green white-text" %>
